#ppw_file_upload_id{ 
    color:transparent;
    vertical-align: middle;
}
.ppw_file_upload_div {
    clear: both;
    margin-bottom: 1em;
}
#ppw_file_container {
    clear: both;
}
#ppw_file_container .button.wc-forward {
    float: right;
    vertical-align: middle;
}
#ppw_loader {
    height: 32px;
    width: 32px;
}